@import 'assets/styles/mixin.scss';
@import 'assets/styles/variables.scss';

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
  background: $color-highlight-background;
  &.visible {
    opacity: 1;
    z-index: 180;
  }
}

.cd {
  width: 40px;
  height: 40px;
  padding-left: 20px;
  padding-right: 10px;
}

.cdImageWrapper {
  width: 100%;
  height: 100%;
}

.cdImage {
  border-radius: 50%;
  &.playing {
    animation: rotate 20s linear infinite;
  }
}

.text {
  flex: 1;
  overflow: hidden;
  line-height: 20px;
}

.name {
  display: block;
  margin-bottom: 2px;
  @include no-wrap();
  font-size: $font-size-medium;
  color: $color-text;
}

.desc {
  @include no-wrap();
  font-size: $font-size-small;
  color: $color-text-d;
}

.control {
  flex: 0 0 30px;
  width: 30px;
  padding: 0 10px;
}

.playIcon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  color: $color-theme-d;
}

.listIcon {
  font-size: 30px;
  color: $color-theme-d;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
